.invent-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .invent-main {
    padding: 20px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .invent-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  b {
    margin-right: 0.5rem;
  }
  
  .invent-card {
    border: 1px solid #ddd;
    text-align: left;
    padding: 1.5rem;
    margin: 1rem;
    width: 14rem;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .invent-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .icons {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 12px;
  }
  
  .trash {
    color: #ff4646;
  }
  