.sales-main {
  padding: 20px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.sales-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sales-layout {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f8f8f8;
}

tr:hover {
  background-color: #f2f2f2;
}
